[popovertarget="menu"] {
  anchor-name: --menu;
}

.menu {
  position-anchor: --menu;
  inset-area: bottom span-all;
  position-try-options: --top;
}

@position-try --top {
  inset-area: top span-all;
}
