.childrenContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.childrenContainer>ul {
  overflow: hidden;
}

.childrenContainer>ul:last-child {
  grid-row: 1 / span 2;
}

.open {
  grid-template-rows: 1fr;
}
